/*---- css-demo----*/
/*--- color scheme---
Main color - #E65845
2nd option- #4EBF96
*/
/*  ---------------Box Sizing-----------------  */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body{
font-family: "SUSE", sans-serif;
 margin:0;
/*---background-color:pink;---*/
}
main{}

header.primary{
  background-color: #A6866A;
  color: #ffffff;
  text-align: center;
  text-shadow:1px 1px #000000;
  padding: 10px 40px 10px 40px;
}
header.primary h1{
  font-size:2.4rem;
  margin: 20px 0 0;
}
header.primary h1 a {
  color:#ffffff;
  text-decoration:none;
}
header-primary h2{
  font-size:1.3rem;
  margin:0;
}
header.primary nav{}
header.primary nav ul{
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
  padding: 10px 0;
}
header.primary nav ul li{
  list-style-type:none;
}
header.primary nav ul li a{
  color:#ffffff;
  text-decoration:none;
  border:2px solid #c0c0c0;
  padding:7.5px 10px;
  background-color:rgba(0,0,0, .4);
  border-radius:20px;
  transition: .4s;
}
header.primary nav ul li a:hover{
  background-color:rgba(0,0,0, .8);
}




/*------media queries-----*/

@media screen and (max-width:560px){
 header.primary nav ul{
  flex-direction:column;
  gap: 20px;
  witdh:200px;
  margin:10px auto;
}
  header.primary nav a{
    display:block;
  }